<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628757832787-rlagcnanqg39n0pa2d8sq6thddvlptei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628757832787-rlagcnanqg39n0pa2d8sq6thddvlptei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628757832787-0ijnvpcj2itafiva53urmvoqtbg9igj8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4oukoz0oDxyv6Pxn2l60timTdDyK7T-s</string>
	<key>GCM_SENDER_ID</key>
	<string>628757832787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cabgo.applerider</string>
	<key>PROJECT_ID</key>
	<string>lungataxi</string>
	<key>STORAGE_BUCKET</key>
	<string>lungataxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628757832787:ios:c22ec52f844103559e52a6</string>
	<key>DATABASE_URL</key>
	<string>https://lungataxi.firebaseio.com</string>
</dict>
</plist>